/*****************

style rule setup

selector {
  property: value:
}

*****************/

body {
    font-family: bely, serif;
    font-weight: 400;
    font-style: italic;
  background-color: darkblue;
  font-size:25px;
  margin-top:130px;
 }
h1 {
  color: red;
  text-align: center;
  font-size:40px;
  margin-top:50px;
  font-size:50px;
}
h2 {
  color: red;
  text-align: center;
  margin-top:50px;
}
a {
  color: red;
}
a:hover {color: lightgreen;
}
p {
  color: white;
}
