body{
  background-color: lightblue;
}
.black {
  width: 10vw;
  height: 10vw;
  background-color: #333333;
  float: left;
}
.red {
  width:10vw;
  height:10vw;
  background-color: tomato;
  float: left;
}
.board {
  width: 80vw;
  display:flow-root;
  margin: 100px auto;
}
