body {
  background-color: lightgreen;
  Color: darkblue;
}
h1, h2, h3, h4 {
  Color:purple;
}
ul li{font-style: italic;
}
h4{font-style: italic;
   color: darkblue}
.common {font-style: italic;}
#openning {
  font-style:italic;
}
body {
  background-color: lightgreen;
  Color: darkblue;
}
h1, h2, h3, h4 {
  Color:purple;
}
ul li{font-style: italic;
}
h4{font-style: italic;
   color: darkblue}
.common {font-style: italic;}
#openning {
  font-style:italic;
}
